# git+https://github.com/PaulHancock/Aegean.git # Aegean only supported by Python3.8+; incompatible with older Python version required by mpld3 (Python3.4)
astropy
docopt
matplotlib==2.2.2
git+https://github.com/mpld3/mpld3.git
numpy
pandas
# seaborn # default matplotlib figures now much better!
scipy
